.page-navigation {
  border-bottom: none;
  box-shadow: none;
}

#homepage {
  display: grid;
  position: relative;
  width: 100%;

  @media (max-width: 900px) {
    margin-top: var(--height-page-navigation);
  }
}
