.page {
  background-image: radial-gradient(circle, #00000033 1px, transparent 1px);
  background-size: 40px 40px;
}

.page-navigation {
  background-color: transparent;
  border-bottom: none;
  box-shadow: none;
}

#homepage {
  display: grid;
  position: relative;
  width: 100%;

  @media (max-width: 900px) {
    margin-top: var(--height-page-navigation);
  }
}
