#homepage {
  display: grid;
  height: calc(100dvh - var(--height-page-navigation));
  position: relative;
  width: 100%;

  @media (max-width: 900px) {
    margin-top: var(--height-page-navigation);
  }
  @media (min-width: 900px) {
  }
}
