@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.stage {
  animation-duration: 300ms;
  animation-fill-mode: forwards;
  animation-name: fadeIn;
  animation-timing-function: ease-in-out;
  display: flex;
  opacity: 0;
  overflow: hidden;
  position: relative;

  canvas {
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    user-select: none;
    width: 100%;
  }
}

.stage__content {
  display: flex;
  position: relative;
  width: 100%;

  @media (max-width: 900px) {
    max-width: 100%;
  }
  @media (min-width: 900px) {
    justify-content: flex-end;
    max-width: clamp(600px, 60%, 60%);
  }
}

.stage__products {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  row-gap: var(--spacing-2x);
  width: 100%;

  @media (min-width: 900px) {
    align-items: flex-end;
  }
}
