.label {
  background-color: #ffffffee;
  position: relative;
  text-decoration: none;
  text-wrap: pretty;

  &:hover {
    background-image: linear-gradient(
      60deg,
      transparent 40%,
      var(--product-color)
    );
    transition: background-color 100ms ease-in-out;
  }

  @media (max-width: 900px) {
    display: flex;
    flex-direction: column;
    padding: var(--spacing-base);
    row-gap: var(--spacing-half);
  }
  @media (min-width: 900px) {
    align-items: center;
    column-gap: var(--spacing-4x);
    display: grid;
    grid-template-areas:
      "title description"
      "title release_date";
    grid-template-columns: 400px 400px;
    padding: var(--spacing-2x) var(--spacing-base-plus-half);
    row-gap: var(--spacing-half);
  }
}

.label__description,
.label__releaseDate {
  font-size: 14px;
}

.label__description {
  display: flex;
  flex-wrap: wrap;
  font-style: italic;
  line-height: 1.3;

  @media (min-width: 900px) {
    align-self: flex-end;
    grid-area: description;
  }
}

.label__releaseDate {
  line-height: 1.3;

  @media (min-width: 900px) {
    align-self: flex-start;
    grid-area: release_date;
  }
}

.label__title {
  font-family: var(--font-family-serif);
  font-weight: 400;
  line-height: 1;

  @media (max-width: 900px) {
    font-size: 60px;
    margin-bottom: var(--spacing-half);
  }
  @media (min-width: 900px) {
    font-size: 80px;
    grid-area: title;
    text-align: right;
  }
}
